.problem{    
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    border: solid 3px darkblue;
}
.problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}